# 白名单，只记录这个人，优先级最高 例['用户名1', '用户名2', ...]
white_list: []
# 黑名单，不记录这个人，优先级第二高 例['用户名1', '用户名2', ...]
black_list: []
# 最低卡片等级，小于这个等级的跳过不记录，如果为空则全量抓取
min_card_level: 800
# 最高争夺等级，当对手为850满级卡时的争夺等级，目前最高争夺加成等级为1500
# 如果开启了is_search_level建议设置为1100~1200，关闭则建议设置为1200~1400
max_kf_level: 1100
# 在此日期前的跳过不记录，如果为空则全量抓取，因为3s环境变化较快不建议设置太久远
# 如记录中存在2023年3月10日前的数据，请勿填空或设置为2023年3月10日前，因为之前的数据格式未适配
# 2023年6月6号之后的记录会根据血量、护盾、图标大致推算点数，误差极大需要注意
last_date: '2023-08-11'
# 护符配置，格式 角色_武器: 护符或角色: 护符，当未精确匹配到武器时使用角色的护符，都未匹配使用default属性的值
amulet_config:
  default: ''
  MO: 'AGI 80 INT 80 SPR 80 MATK 10 SLD 10 RFL 10 PDEF 10 MDEF 10 AAA 8'
  LIN: 'STR 60 VIT 60 AGI 60 MND 60 HP 10 SPD 10 RFL 10 CRT 10 PDEF 10 MDEF 10 AAA 8'
  AI: 'AGI 80 VIT 80 MND 80 HP 10 SPD 10 REC 10 RFL 10 SKL 10 CRT 10 PDEF 10 MDEF 10 AAA 8'
  WEI: 'AGI 60 INT 60 SPR 80 VIT 60 MND 60 HP 10 SPD 10 SLD 10 CRT 10 SKL 10 AAA 8'
  MING: 'STR 60 AGI 60 INT 60 VIT 60 MND 60 HP 10 REC 10 PATK 10 SPD 10 RFL 10 CRT 10 SKL 10 MDEF 10 AAA 8'
  MIN: 'STR 60 AGI 60 INT 60 VIT 60 MND 60 HP 10 PATK 10 SPD 10 RFL 10 SKL 10 CRT 10 PDEF 10 MDEF 10 AAA 8'
  MENG: 'AGI 80 INT 80 SPR 80 SLD 10 SPD 10 CRT 10 SKL 10 AAA 8'
  XI: 'STR 60 AGI 60 VIT 60 MND 60 HP 10 PATK 10 SPD 10 RFL 10 CRT 10 SKL 10 PDEF 10 MDEF 10 AAA 8'
  YI: 'STR 60 AGI 60 VIT 60 MND 60 HP 10 PATK 10 SPD 10 RFL 10 CRT 10 SKL 10 PDEF 10 MDEF 10 AAA 8'
  XIA: 'AGI 80 INT 80 SPR 80 SLD 10 SPD 10 MATK 10 CRT 10 SKL 10 RFL 10 AAA 8'
  WU: 'STR 60 AGI 60 VIT 60 MND 60 HP 10 SPD 10 PATK 10 CRT 10 PDEF 10 MDEF 10 AAA 8'
  YA: 'STR 60 AGI 60 VIT 60 MND 60 HP 10 SPD 10 PATK 10 CRT 10 SKL 10 PDEF 10 MDEF 10 AAA 8'
# 默认许愿池
wish_config: '100 100 100 100 100 200 200 200 200 50 50 50 50 50'
# 无视颜色默认携带神秘的装备，未填写的装备只有红装才会拥有神秘
default_gear_mystery: ['SHIELD', 'CLAYMORE', 'SPEAR', 'CAPE', 'THORN', 'DAGGER', 'WAND',
                       'TIARA', 'RIBBON', 'RING', 'DEVOUR', 'COLORFUL', 'CLOAK', 'HUNT']
# 默认成长值
default_g: 100000
# 装备默认百分比，觉得欧狗多就设置的高些，注意设置的太高胜率容易尿崩
gear_config:
  STAFF: '150 150 150 150'
  BLADE: '90 140 140 140'
  ASSBOW: '100 150 150 120'
  DAGGER: '100 120 150 150'
  WAND: '120 120 130 150'
  SHIELD: '100 150 130 130'
  CLAYMORE: '110 110 150 150'
  SPEAR: '120 150 150 100'
  GLOVES: '150 150 150 150'
  BRACELET: '150 150 100 150'
  VULTURE: '120 120 130 150'
  CLOAK: '100 120 150 150'
  THORN: '150 120 120 140'
  WOOD: '150 120 120 120'
  CAPE: '150 150 120 100'
  SCARF: '150 150 150 150'
  TIARA: '110 150 150 110'
  RIBBON: '100 150 120 150'
  RING: '110 110 150 150'
  DEVOUR: '100 150 120 150'
  SWORD: '150 150 150 150'
  BOW: '150 150 150 150'
  PLATE: '150 150 150 150'
  LEATHER: '150 150 150 150'
  CLOTH: '150 150 150 150'
  COLORFUL: '120 100 150 150'
  HUNT: '120 100 150 150'
# 是否加入权重，会根据出现次数加入w值，目前匹配池不平均建议开启
is_add_w: true
# 指定普通雅的模式 0白天1黑夜
ya_mode: 1
# 是否分析防守记录，此选项需要最新版收割机的支持
# 当防守记录同时匹配进攻记录的玩家名称和卡片时，对应权重w加1
# 当不匹配时，寻找对应卡片的最高争夺玩家的进攻记录，其权重w加1
is_analyse_defense: true


# 以下是从论坛获取系数的配置，谨慎开启
# 是否通过用户的论坛发帖记录以及系数排行获取真实系数，关闭此项则默认按照max_kf_level的值处理
# 注意开启此项虽然使等级相关计算更加精准但是会极大的拖慢程序，考虑到咕咕镇服务器的抗压能力强烈建议开启时一天只跑一次
is_search_level: false
# 当is_search_level开启时，需要登录才可以搜索，由于搜索次数的限制（系数*5+20）请确保自身账号的系数和等级分足够
cookie: ''
# 论坛域名，cookie需配置为此域名的cookie
kf_domain: 'https://kf.miaola.work'
# 当is_search_level开启时，对方的幻影等级
shadow_level: 250
# 当is_search_level开启时，网络请求时的代理地址，由于咕咕镇机房部署在国外，建议使用代理提升访问速度
# 注意仅支持http代理，例'http://127.0.0.1:1081'，填空不做代理
proxy_url: ''
# 是否从目录level.db缓存中读取系数，建议开启此项，会有效缓解网络开销
# 但是需要注意时效性，随着时间的推移缓存的系数会相对越低，建议隔一个月关闭此选项刷新缓存
use_cache: true


# 点数推测步骤：护盾推测精神->生命推测体魄意志->力敏智根据箭头比例推测->多余点数补偿
# 以下是点数推测的配置，瞎改会导致推测的点数非常离谱，请根据自身对环境的理解谨慎修改
# 推测精神时，当对方争夺为1400且智力双上且精神不是双下箭头时，假定对方的智力点数，此值必须设置为((2837+全部苹果)/2-力量苹果)以上
1400_int: 1500
# 推测体魄意志时，当对方争夺为1300且力量双上时，假定对方的力量点数，此值必须设置为((2837+全部苹果)/2-力量苹果)以上
1300_str: 1500
# 推测体魄意志时，当对方争夺为1300且力量双上且体魄和意志都是双下时，假定对方的意志和体魄点数
# 此值必须设置为1以上((2837+全部苹果)/10-体意苹果)以下，注意此值的计算在点数补偿之前，小于等于最终的推测点数
1300_low_wm: 170
# 推测出体魄+意志之后根据箭头占比分配体魄和意志点数
# 单上+双上箭头 双上箭头的占比 此值必须大于0.5小于0.8
vm_prop_udu: 0.7
# 单下+双上箭头 双上箭头的占比 此值必须大于0.67小于0.9
vm_prop_ddu: 0.75
# 单下+单上箭头 单上箭头的占比 此值必须大于0.5小于0.8
vm_prop_du: 0.65
# 力量敏捷智力根据箭头占比分配
# 敏捷双上 力量或智力也双上箭头时 敏捷在剩余点数中的占比 此值必须大于0.4小于0.6
agi_prop_dudu: 0.55
# 敏捷双上 力量或智力上箭头时 敏捷在剩余点数中的占比 此值必须大于0.5小于0.8
agi_prop_duu: 0.6
# 敏捷双上 力量或智力下箭头时 敏捷在剩余点数中的占比 此值必须大于0.67小于0.9
agi_prop_dud: 0.75
# 敏捷单上 敏捷在全部点数中的占比，此值必须大于0.2小于0.4
agi_prop_u: 0.35
# 敏捷单下 敏捷在全部点数中的占比，此值必须大于0.1小于0.2
agi_prop_d: 0.2
# 敏捷双下 敏捷在全部点数中的占比，此值必须大于0小于0.1
agi_prop_dd: 0.001
# 推测完敏捷，开始推测智力
# 智力双上 智力在全部点数中的占比，此值必须大于0.4小于1
int_prop_du: 0.999
# 智力单上 智力在全部点数中的占比，此值必须大于0.2小于0.4
int_prop_u: 0.4
# 智力单下 智力在全部点数中的占比，此值必须大于0.1小于0.2
int_prop_d: 0.2
# 智力双下 智力在全部点数中的占比，此值必须大于0小于0.1
int_prop_dd: 0.001


# 下面的设置最好不要乱动，除非你对游戏以及源码有足够的了解
# 装备映射
# 如果是自定义主题的装备，需要在这里补充映射
gear_map:
  探险者短杖: 'STAFF'
  狂信者的荣誉之刃: 'BLADE'
  反叛者的刺杀弓: 'ASSBOW'
  幽梦匕首: 'DAGGER'
  光辉法杖: 'WAND'
  荆棘剑盾: 'SHIELD'
  陨铁重剑: 'CLAYMORE'
  饮血长枪: 'SPEAR'
  探险者手套: 'GLOVES'
  命师的传承手环: 'BRACELET'
  秃鹫手套: 'VULTURE'
  旅法师的灵光袍: 'CLOAK'
  战线支撑者的荆棘重甲: 'THORN'
  复苏木甲: 'WOOD'
  挑战斗篷: 'CAPE'
  探险者头巾: 'SCARF'
  占星师的发饰: 'TIARA'
  天使缎带: 'RIBBON'
  海星戒指: 'RING'
  噬魔戒指: 'DEVOUR'
  探险者之剑: 'SWORD'
  探险者短弓: 'BOW'
  探险者铁甲: 'PLATE'
  探险者皮甲: 'LEATHER'
  探险者布甲: 'CLOTH'
  萌爪耳钉: 'RIBBON'
  荆棘盾剑: 'SHIELD'
  饮血魔剑: 'SPEAR'
  探险者手环: 'GLOVES'
  秃鹫手环: 'VULTURE'
  复苏战衣: 'WOOD'
  探险者耳环: 'SCARF'
  占星师的耳饰: 'TIARA'
  彩金长剑: 'COLORFUL'
  香木法杖: 'STAFF'
  妖刀血鸦: 'BLADE'
  深渊之弓: 'ASSBOW'
  黑曜石天黑剑: 'DAGGER'
  棒棒糖手杖: 'WAND'
  盖亚之斧: 'SHIELD'
  勇气星核剑: 'CLAYMORE'
  混沌之刃: 'SPEAR'
  毁灭之伤冥神枪: 'SPEAR'
  旅者手镯: 'GLOVES'
  旅者拳套: 'GLOVES'
  睿智手镯: 'BRACELET'
  朋克手镯: 'VULTURE'
  深红爪: 'VULTURE'
  魔导师的长袍: 'CLOAK'
  霸王树之棘针铠: 'THORN'
  翠绿灵衣: 'WOOD'
  黑玛瑙之祈装衣: 'CAPE'
  旅者耳环: 'SCARF'
  旅者头巾: 'SCARF'
  海神耳饰: 'TIARA'
  樱花的月夜簪: 'TIARA'
  精灵王护石: 'RIBBON'
  细冰姬的蝴蝶结: 'RIBBON'
  永恒绿戒: 'RING'
  深结晶变异水晶: 'DEVOUR'
  旅人剑: 'SWORD'
  猎人弓: 'BOW'
  重金属护甲: 'PLATE'
  皮革工作服: 'LEATHER'
  旅者长袍: 'CLOTH'
  辉光剑雅德玛斯: 'COLORFUL'
  猎魔耳环: 'HUNT'
# 卡片映射
card_map:
  默: 'MO'
  琳: 'LIN'
  艾: 'AI'
  梦: 'MENG'
  薇: 'WEI'
  冥: 'MING'
  命: 'MIN'
  伊: 'YI'
  希: 'XI'
  舞: 'WU'
  霞: 'XIA'
  雅: 'YA'
# 天赋映射
talent_map:
  启程之誓: 'SHI'
  启程之心: 'XIN'
  启程之风: 'FENG'
  等级挑战: 'TIAO'
  等级压制: 'YA'
  破壁之心: 'BI'
  破魔之心: 'MO'
  复合护盾: 'DUN'
  鲜血渴望: 'XUE'
  削骨之痛: 'XIAO'
  圣盾祝福: 'SHENG'
  恶意抽奖: 'E'
  伤口恶化: 'SHANG'
  精神创伤: 'SHEN'
  铁甲尖刺: 'CI'
  忍无可忍: 'REN'
  热血战魂: 'RE'
  点到为止: 'DIAN'
  午时已到: 'WU'
  纸薄命硬: 'ZHI'
  沸血之志: 'FEI'
  波澜不惊: 'BO'
  飓风之力: 'JU'
  红蓝双刺: 'HONG'
  荧光护盾: 'JUE'
  后发制人: 'HOU'
  钝化锋芒: 'DUNH'
  自信回头: 'ZI'
  不动如山: 'SHAN'
# xpath设置
xpath_config:
    attr: '//div[contains(@class,''alert-info'')]/div//span[contains(@class,''label-outline'')]//text()'
    attr2: '//div[contains(@class,''alert-info'')]/div//span[contains(@class,''label-outline'')]//i/@class'
    talent: '//div[contains(@class,''alert-info'')]/div//div[contains(@class,''fyg_tr'')]//text()'
    gear: '//button[contains(@class,''fyg_colpzbg'')]/@data-original-title'
    level: '//button[contains(@class,''fyg_colpzbg'')]//text()'
    color: '//button[contains(@class,''fyg_colpzbg'')]/@style'
    search: '//table[contains(@class,''thread1'')]//tr[3]/td[1]/a/@href'
    read: '//div[contains(@class,''readtext'')]//td[1]//a[1]/@href'
    info: '//table[contains(@class,''log1'')]//tr[2]/td[2]//text()'
    hp: '//div[contains(@class,''alert-info'')]/div//span[contains(@class,''label-danger label-outline'')]//text()'
    sld: '//div[contains(@class,''alert-info'')]/div//span[contains(@class,''label-info label-outline'')]//text()'
    top: '//tr[contains(@onmouseover,''this.style.backgroundColor'')]'
# 正则设置
match_config:
    str: "(?<=).*?(?=力)"
    agi: "(?<=力).*?(?=敏)"
    int: "(?<=敏).*?(?=智)"
    vit: "(?<=智).*?(?=体)"
    spr: "(?<=体).*?(?=精)"
    mnd: "(?<=精).*?(?=意)"
    talent: "(?<=\\|).*?(?=\\|)"
    color: ".*/(.*)\\.gif.*"
# 输入文件路径
input_path: './source/'
# 输出文件路径
output_path: './source/pc.txt'
# 通用请求头
headers:
  Content-Type: 'application/x-www-form-urlencoded; charset=UTF-8'
  Accept: 'text/html,application/xhtml+xml,application/xml;q=0.9,image/avif,image/webp,image/apng,*/*;q=0.8,application/signed-exchange;v=b3;q=0.9'
  Accept-Encoding: 'gzip, deflate, br'
  Accept-Language: 'zh-CN,zh;q=0.9,en-US;q=0.8,en;q=0.7'
  User-Agent: 'Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/107.0.0.0 Safari/537.36'
# 论坛地址配置
url_config:
  search: '/search.php'



